@import url('https://fonts.cdnfonts.com/css/gotham-6');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;1,6..12,200;1,6..12,300;1,6..12,400&family=Tilt+Warp&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

.containerLogo img {
  width: 100%
}

.caixaLogo {
  width: 25%;
}
.imgLogo{
  display: flex;
  justify-content: center;
  width: 100%;
}

#page1 {
  background-image: url("/assets/img/fundo.jpg");
  background-size: 100%;
}

nav {
  z-index: 99;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75em;
  position: fixed;
  width: 35vw;
  top: 0;
  background: transparent;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
nav .container {
  font-family: "Gotham";
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
nav .container ul li {
  display: inline-block;
}
nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
nav .container ul li.active {
  transition: 0.3s ease background-color;
  background: rgb(0, 185, 111);
  box-shadow: 3px 3px 5px #20202050;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
}
nav .container ul li.active a {
  color: rgb(255, 255, 255);
}

.galeria {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 420px 420px 420px;
  gap: 15px;
  margin-top: 45px;
}

.galeria-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.galeria-item img {
  width: 100%;
  height: auto;
  height: auto;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  margin-top: -110px;
}

.galeria-item:hover {
  transform: scale(1.05);
}

.blog-title {
  text-align: center;
  margin-bottom: 15px;
}

.blog {
  max-width: 800px;
  margin: 0 auto;
}

.blog-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.blog-post {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.blog-post p {
  font-size: 16px;
  line-height: 1.5;
}

.blog-post a {
  color: #e4405f;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.blog-post a:hover {
  color: #d6334c;
}

.contact-form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.contact-form h2 {

  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  background-color: #e4405f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #4e2b30;
}

.footer-content {

  margin-top: 250px;
  background-color: #777676;
  padding: 20px;
  text-align: center;
}

.contact-info {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 200;
  color: #333;

}

.back-to-home a {
  color: #e4405f;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.back-to-home a:hover {
  color: #d6334c;
}