@import url('https://fonts.cdnfonts.com/css/gotham-6');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;1,6..12,200;1,6..12,300;1,6..12,400&family=Tilt+Warp&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

.containerLogo img {
  width: 100%
}

.caixaLogo {
  width: 25%;
}
.imgLogo{
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  margin: 0 10px; 
}

.logo img {
  max-width: 80px; 
}
.social-icons {
  position: fixed;
  top: 20px; 
  right: 20px; 
  display: flex;
  flex-direction: row;
}

.social-icons a {
  color: #e4405f;
  font-size: 24px;
  margin-left: 20px; 
  text-decoration: none;
}

#page1 {
  background-image: url("/assets/img/fundo.jpg");
  background-size: 100%;
}

nav {
  z-index: 99;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75em;
  position: fixed;
  width: 35vw;
  top: 0;
  background: transparent;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
nav .container {
  font-family: "Gotham";
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
nav .container ul li {
  display: inline-block;
}
nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
nav .container ul li.active {
  transition: 0.3s ease background-color;
  background: rgb(0, 185, 111);
  box-shadow: 3px 3px 5px #20202050;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
}
nav .container ul li.active a {
  color: rgb(255, 255, 255);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #fff;
}

.galeria-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.galeria-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

.galeria-item:hover {
  transform: scale(1.05);
}
