/* Estilos para o menu */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    z-index: 1;
}

.menu .menu-icon {
    color: #fff;
    text-align: center;
    padding: 12px;
    cursor: pointer;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 25px;
    right: 10px;
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    z-index: 2;
}

.show-menu-dropdown {
    display: flex;
}

/* Estilos para a seção de capa */
.capa {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("/Landingpage/assets/img/img_paisagismo_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.capa::before {
    content: "";
    background: rgba(49, 48, 48, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.capa-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: relative;
}

.capa-text h1 {
    margin: 0;
    font-size: 4em;
    color: #fff;
}

.capa-text p {
    font-size: 1.8em;
    margin: 0;
    color: #fff;
}

.capa-logo {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 10px;
}

.capa-logo img {
    display: block;
    width: auto;
    max-height: 100%;
    height: 200px;
    padding-left: 200px;
}

/* Estilos para a seção de serviços */
.servicos {
    background-color: #70707062;
    padding: 40px 0;
    text-align: center;
}

.servicos h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

.servicos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.servico {
    flex-basis: calc(25% - 20px);
    background-color: #fff;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.servico i {
    font-size: 2.5em;
    color: #00c707;
    margin-bottom: 20px;
}

.servico h3 {
    font-size: 1.8em;
    color: #333;
}

.servico p {
    font-size: 1em;
    color: #666;
}

.servico:hover {
    transform: translateY(-5px);
}

/* Estilos para a seção de portfólio */
.portfolio {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

.portfolio-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.linha1,
.linha2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.projeto {
    flex: 1;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}

.projeto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: filter 0.3s;
}

.projeto-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    text-align: center;
}

.projeto:hover {
    transform: scale(1.05);
    filter: brightness(70%);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.projeto:hover .projeto-texto {
    opacity: 1;
    filter: brightness(100%);
}

.projeto-texto p {
    margin: 0;
    font-size: 1.5em;
}

/* Estilos para a seção da equipe */
.equipe {
    background-color: #fff;
    text-align: center;
    padding: 40px 0;
}

.equipe h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

.equipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.membro {
    flex-basis: calc(15% - 15px);
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.membro img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.membro-info {
    margin-top: 20px;
    color: #333;
}

.membro-info i {
    font-size: 2em;
    color: #00c707;
    margin-bottom: 10px;
}

.membro-info p {
    font-size: 1.2em;
}

/* Estilos gerais para a seção de contato */
.contato {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('/Landingpage/assets/img/img_paisagismo_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    text-align: center;
}

.contato h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 30px;
}

.contato-container {
    display: flex;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .contato-container {
        flex-direction: column;
    }

    .informacoes-contato,
    .formulario-contato {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .contato-container {
        flex-direction: row;
    }

    .informacoes-contato {
        margin-left: 20px;
        width: auto;
    }

    .formulario-contato {
        margin-left: 40px;
        width: auto;
    }
}

.informacoes-contato {
    padding: 20px;
    background-color: #eeeeee7c;
    border-radius: 10px;
    text-align: left;
}

.info-box a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000000;
    margin-top: 50px;
}

.info-box a:hover {
    text-decoration: underline;
}

.info-box .fa-envelope {
    color: #046bbe;
}

.info-box .instagram-icon {
    color: #e4405f;
}

.info-box .whatsapp-icon {
    color: #25d366;
}

.info-box i,
.info-box .instagram-icon,
.info-box .whatsapp-icon {
    font-size: 2em;
    margin-right: 10px;
}

.formulario-contato {
    padding: 20px;
    background-color: #eeeeee7c;
    border-radius: 10px;
    text-align: left;
}

.formulario-contato h3 {
    font-size: 1.8em;
    color: #333;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

form input,
form textarea {
    width: 96%;
    padding: 10px;
    margin-top: 5px;
    background-color: #fffffff6;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00c707;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

form button:hover {
    background-color: #009606;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 250px;
    margin-left: 300px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}